* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px;
}
.flex-container > div {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10px;
}

.flex-container img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}
.flex-container div div:last-child{
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;/*cima esquerda,cima direita,baixa esquerda, baixa direita*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;

}

.menu a {
    float: left;
    display: block;
    color: midnightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.menu a:hover {
    display: flex;
    background-color: beige;
    font-weight: bold;
}

.menu a:last-child{
    margin-left:auto;
}

.conselhos {
    display: flex;
    background-color: lightblue;
}

.conselhos > div{
    background-color: DodgerBlue;
    color: white;
    width: 500px;
    height: 400px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px
}
.background {
    background-image: url("images/oceuexistemesmo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.titulo {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: self-end;
    font-size: 5rem;
    color: beige;
}
.item1{
    grid-area: header;
    background-image: url("images/albufeira.jpeg");
}
.item2{
    grid-area: menu;
    background-image: url("images/douroVinhateiro.jpeg");
}
.item3{
    grid-area: main;
    background-image: url("images/porto.jpeg");

}
.item4{
    grid-area: right;
    background-image: url("images/lisabona.jpeg");
}
.item5{
    grid-area: footer;
    background-image: url("images/camping.jpeg");
}
.item6{
    grid-area: pois;
    background-image: url("images/geres.jpeg");
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 100px 100px 100px 100px 50px;

    grid-template-areas:
        'header header right footer'
        'header header right footer'
        'menu pois main footer'
        'menu pois main footer'
        'menu pois main footer';

    gap: 10px;
    padding: 10px;
    background-color: beige;
}

.grid-container > div {
  background-color: white;
  opacity: 80%;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
.titulogrid {
    color: black;
    text-align: right;
}

.paragrafogrid {
    color: black;
    text-align: right;
}

.paragrafogrid::first-line {
    font-size: 2em;
}

.heroImage{

}

body > header{
    height: 90vh;
    background-image: url("images/europa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.parallax {
  /* The image used */
  background-image: url("images/paris.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
    color: beige;
}

section > div > p {
    font-size: x-large;
    color: beige;
}

.alinha {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px;
}

.container {
    margin: 10px;
    position: relative;
    width: 30%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color : white;
}

.container:hover .overlay {
    border-radius: 20px 20px;
    opacity: 0.5;
    background-color: black;
    transform: scale(120%);
}

.text {
    color: beige;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.stewie {
  /* para tornar imagem redonda */
  border-radius: 50%;

  /* experimente a animação roda-encolhe */
  animation-name: roda;
  animation-duration: 2s;
  /* para a animação nunca parar */
  animation-iteration-count: infinite;
  /* por defeito acelera no inicio e desacelera no fim. aqui fica uniforme */
  animation-timing-function: linear;
}

/* animação */
@keyframes roda {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


/* animação */
@keyframes roda-encolhe {
  0% {transform: rotate(0deg); width: 200px;}
  50% {transform: rotate(180deg);  width: 100px;}
  100% {transform: rotate(360deg);  width: 200px;}
}

.segundoGrid {
    alignment: left;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;

    grid-template-areas:
        'primeiro segundo terceiro'
        'quarto quarto quarto';


    gap: 100px;
    padding: 300px;
}

.segundoGrid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

@keyframes exemplo {
    0% {background-color:red; left:0; top:0;}
    25% {background-color:yellow; left:1000px; top:0;}
    50% {background-color:blue; left:1000px; top:400px;}
    75% {background-color:green; left:0; top:400px;}
    100% {background-color:red; left:0; top:0;}
}
.dvd {
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: exemplo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


.terceiraImagem {
    width: 100px;
    height: 100px;
    position: relative;
    animation: terceira 5s infinite;
}
@keyframes terceira {
    0%   {left: 0;}
    100% {left: 600px;}
}

.quartaImagem {
    width: 100px;
    height: 100px;
    color: blue;
    position: relative;
    animation: quarta 5s infinite;
}

@keyframes quarta {
    0%  {top: 200px; left: 600px;}
    20% {top: 0;}
    40% {top: 100px;}
    60% {top: 0;}
    100% {top: 200px; left: 0;}
}